body {
    margin: 0px;
    padding: 100px;
}

button {
   font-size: 20px;
   font-weight: 900;
}
input {
    font-size: 20px;
    font-weight: 900;

}
.result {
    font-size: 50px;
    font-weight: 900;
}